@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:600&display=swap');

// variables
$poppins: 'Poppins',
sans-serif;
$open: 'Open Sans',
sans-serif;

 $pink: hsl(322, 100%, 66%);
 $vpcyan: hsl(193, 100%, 96%);
 $vdcyan: hsl(192, 100%, 9%);
 $gishblu: hsl(208, 11%, 55%);

 .container{
   padding: 0 30px;
   margin: 0 auto;
   max-width: 100%;
   width: 1440px;
 }
 .flex{
   display: flex;
   align-self: center;
   justify-content: space-between;
 }

 %grid-shared {
   display: grid;
   grid-template-columns:50% 50% ;
   grid-template-areas: "ill content";
 }

 .grid{
   @extend%grid-shared;

     .illustration {
       grid-area: 'ill';
       max-width: 100%;

       img {
         width: 150%;
       }

     }

     .content {
       grid-area: 'content';
       max-width: 100%;

     }
 }

 %btn-shared{
   border: none;
   border-radius: 50px;
   cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 60px;
    box-shadow: 0 0 5px rgba(0, 0, 1, .15);
 }



 h1,
 h2{
   font-family: $poppins;
   color: $vdcyan;
 }