@import"utilities";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $open;
  color: $vdcyan;
  font-size: 18px;
  line-height: 1.5;
}

header {
  background-image: url('../images/bg-hero-desktop.svg');
  background-size: cover;
  background-position: center center;
  background-color: $vpcyan;
  padding: 40px 0;


}

footer {
  color: #fff;
  background-color: $vdcyan;

}

.btn {

  &-secondary {
    @extend%btn-shared;
    color: $vdcyan;
    padding: 10px 45px;
    background-color: #fff;


  }

  &-prime {
    @extend%btn-shared;
    background-color: $pink;
    color: #fff;
    margin-top: 35px;


  }

}

.grid-box {
  @extend%grid-shared;
  box-shadow: 0 0 5px rgba(0, 0, 1, .15);
  border-radius: 15px;
  margin: 40px 0;
  padding: 60px 25px;

  .illustration {
    grid-area: ill;
    max-width: 100%;
    margin-left: 20px;
    padding-left: 55px;

    img {
      max-width: 75%;
    }

  }

  .content {
    grid-area: content;
    max-width: 100%;
    margin-top: 45px;
    margin-right: 20px;
    padding: 35px;


    h2 {
      line-height: 1.7;


    }

  }

}

.box-center {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 1, .15);
  border-radius: 15px;
  margin: 40px 0;
  padding: 60px;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-bottom: -120%;
  padding: 40px 70px;


}




footer .grid {
  @extend%grid-shared;
  grid-template-columns: 25% 25% 25% 25%;
}

@media (max-width: 414px) {
  %grid-shared {
    grid-template-areas: "ill"
      "content";
  }
}